<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25f6b5a8-0f1b-40eb-9f02-74fb23174ee2" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>note-sticky color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main page type for this website. You will build your content using the block grid</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d89f385a-f480-45c4-bfe3-49de7c582490">contentProperties</Composition>
      <Composition Key="a56953ab-fd9c-4dcd-ba0e-77e130dcf5bb">headerProperties</Composition>
      <Composition Key="36026040-db11-4c7a-b6d7-2beb70da543a">sEOProperties</Composition>
      <Composition Key="2382df4f-f2b2-41f1-9dfe-48497eae00a9">taggingProperties</Composition>
      <Composition Key="f734a881-bf6d-45e4-a446-d3a0875161a7">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="471f9fee-a326-40b9-a210-ae06388f66a9">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>