<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23636e1f-d58d-4f1d-81ac-0bfd729aaa09" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="81c85376-0f55-47d5-bb02-a5e2f2a3f54f">footerProperties</Composition>
      <Composition Key="3a6f0de9-a973-4485-a39f-4ebd5ef2edb9">mainNavigationProperties</Composition>
      <Composition Key="1f82e4c6-e39b-4ee3-82ac-0938405383aa">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="54573ccd-f086-456e-8072-f5f374c9ae47" SortOrder="0">pageTags</ContentType>
    <ContentType Key="4cb3287e-1cfb-43cf-aa27-87789828460f" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>