<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2382df4f-f2b2-41f1-9dfe-48497eae00a9" Alias="taggingProperties" Level="2">
  <Info>
    <Name>Tagging Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b6d5cde6-d15b-4779-8764-d48b6e9bb794</Key>
      <Name>Page Tags</Name>
      <Alias>pageTags</Alias>
      <Definition>2ca0764a-59c1-46a0-a066-4f5ae43cc08f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the tags for this page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/tagging">Tagging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>495c2864-47b3-4187-871e-7bdb0ac4bce4</Key>
      <Caption>Tagging</Caption>
      <Alias>pageSettings/tagging</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>674a995a-0773-48ad-b741-d014e777b437</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>