<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4936596-4b2a-46f2-9c22-e2d16ebed68b" Alias="[BlockGrid] - Main Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "b8adec08-cf30-435c-a37c-d02fd004d50d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "af3789f1-d0d6-4712-b0ec-d9770d7fb5d8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/imagelink.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Add Title",
          "key": "ffad6f80-07c6-4d81-a6c1-81a220fa75db",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "2d8ff5d7-a392-45d6-9d4a-549fd4957b1d",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "image-links",
          "columnSpan": 12,
          "createLabel": "Add Image Links",
          "key": "9d8b59db-9991-4bf1-8b9b-7da6a37c71aa",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "af3789f1-d0d6-4712-b0ec-d9770d7fb5d8",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "43dbd87b-63eb-43a3-892f-bafec5f0afd3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2d8ff5d7-a392-45d6-9d4a-549fd4957b1d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/title.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "558695fc-5556-4362-9d52-de8782463f6d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/iconlink.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "066cb10c-b484-4a30-9330-4c15bda6e960",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Add a title",
          "key": "75297a54-6a67-4c08-b280-cc5df2ba19d5",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "2d8ff5d7-a392-45d6-9d4a-549fd4957b1d",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "content",
          "columnSpan": 12,
          "createLabel": "Add some content",
          "key": "18fa07c5-8f0e-48b3-93aa-8bc8149621af",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "b8adec08-cf30-435c-a37c-d02fd004d50d",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "link",
          "columnSpan": 12,
          "createLabel": "Add a link",
          "key": "598660e2-a754-4d43-afb8-caf1e11899c0",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "558695fc-5556-4362-9d52-de8782463f6d",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "957e038f-8878-4068-bd9e-401a928a61ef",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "37cff0e3-2ac3-4bc5-a1fb-b0088c5f4412",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{$layout.$block.content.contentTypeName}}: {{ contentItem | ncNodeName }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c1b3f443-cadb-4391-a129-1eb0ccb39164",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>