<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbf704eb-eeec-4d4b-9541-274d620dc0ee" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "f8f5c00a-737b-4c52-91f9-d517d86e21f9",
      "name": "Layout"
    },
    {
      "key": "08734de3-81bb-4a1b-9608-db07665cec7c",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "eb0f29c9-e5bf-4834-8c96-acd8c1c1b443",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "e8eefb67-7f6f-48b6-8271-973b958dd4b6",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "618c7feb-3886-4416-b35f-08a1129485cb",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "55c849c6-fbb4-48b2-b197-f3d8fc6214a1",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "e8eefb67-7f6f-48b6-8271-973b958dd4b6",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "618c7feb-3886-4416-b35f-08a1129485cb",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "2023378e-647c-4cff-b4b0-0667caeb7695",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "e8eefb67-7f6f-48b6-8271-973b958dd4b6",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "618c7feb-3886-4416-b35f-08a1129485cb",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a0775693-d1b8-46b8-baff-090e34b83e39",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f8f5c00a-737b-4c52-91f9-d517d86e21f9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e8eefb67-7f6f-48b6-8271-973b958dd4b6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "08734de3-81bb-4a1b-9608-db07665cec7c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "618c7feb-3886-4416-b35f-08a1129485cb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "08734de3-81bb-4a1b-9608-db07665cec7c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>