<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2ab71c2-d86f-4441-ba26-08249ca8a49b" Alias="[MultiUrlPicker] - Navigation Group Child Links" Level="2">
  <Info>
    <Name>[MultiUrlPicker] - Navigation Group Child Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>