<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3645bda-a72d-4a9a-a035-ecf8a5190df7" Alias="[Toggle] Default True" Level="2">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>